body{
    margin: 0rem 2rem;
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    width: 30rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}
ul>li{
    width: 30%;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
.main_img{
    width: 95vw;
    height: auto;
}
a:hover{
    color: red;
    cursor: pointer;
}
.parent{
    /* border: 4px solid red; */
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.child{
    /* border: 5px solid blue; */
    width: 30%;
}
.footer_content{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_content{
    background-color: black;
    color: aliceblue;
    font-size: 1.5rem;
}